extends layout

block content
    .container
        .top.row
            .col-lg-10
            .col-lg-1.text-center
                a(href="/olduser") 登 录
            .col-lg-1.text-center
                a(href="/newuser") 注 册
